<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.apache.fastandroid">

    <application
        android:name=".app.FastApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:theme,android:icon,android:label,android:allowBackup">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Main"
            android:launchMode="singleTask"/>

        <activity android:name="com.tesla.framework.ui.activity.FragmentContainerActivity" />


        <activity android:name=".demo.style.FitSystemWindowDemoActivity"/>
        <activity android:name=".demo.style.FitSystemWindowDemoActivity2"/>
        <activity android:name=".demo.style.FitSystemWindowFrameLayoutDemoActivity"/>
        <activity android:name=".demo.temp.activityresult.ActivityResultDemoActivity"/>
        <activity android:name=".demo.temp.activityresult.SecondActivityDemoActivity"/>
        <activity android:name="com.apache.fastandroid.jetpack.navigation.NavigationDemoActivity"/>
        <activity android:name="com.apache.fastandroid.jetpack.navigation.drawer.NavigationDrawerDemoActivity"/>
        <activity android:name=".jetpack.navigation.NavigationDrawerDemoActivity2"/>
        <activity android:name=".jetpack.navigation.advance.AdvanceNavigationActivity"/>

        <activity android:name=".jetpack.livedata.LiveDataWrongUsageActivity" />



        <activity
            android:name=".demo.blacktech.ViewPumpDemoActivity"
            android:exported="true"
            />
        <activity
            android:name=".setting.AboutActivity"
            android:exported="true"
            />

        <activity
            android:name=".jetpack.navigation.NavSettingActivity"
            android:exported="true"
            />

        <activity
            android:name=".demo.cheese.CheeseActivity"
            android:exported="false"
            />
        <activity
            android:name=".demo.cheese.CheeseDetailActivity"
            android:exported="false"
            />


        <activity
            android:name=".article.ArticleDetailActivity"
            android:configChanges="orientation|keyboardHidden|navigation|locale"
            android:exported="true"
            android:launchMode="singleTask"

            />


        <activity
            android:name=".demo.drakeet.foregroundservice.ForegroundServiceActivity"
            android:exported="true"
            />

        <activity
            android:name=".demo.unitest.UnitTestActivity"
            android:exported="true"
            />

        <activity
            android:name="com.example.android.architecture.blueprints.todoapp.tasks.TasksActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:theme="@style/AppTheme.OverlapSystemBar">

        </activity>


        <meta-data
            android:name="channelId"
            android:value="${UMENG_CHANNEL}" />

        <service android:name="com.apache.fastandroid.jetpack.lifecycle.service.MyService" />
        <service android:name=".demo.drakeet.foregroundservice.InhibitorService" />


        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />


    </application>

    <permission
        android:name="com.optimize.performance.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!--
       Don't let Google Play filter out devices that just have don't have camera.
   -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.optimize.performance.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!--    <uses-permission android:name="android.permission.CAMERA"  />-->

    <!--    如果您请求硬件相关的权限（例如 CAMERA），则 Google Play 会假设您的应用需要底层硬件功能，并从设备过滤掉不提供该功能的应用。
            要控制过滤，务必在 <uses-feature> 元素中显式声明硬件功能，而不是依赖 Google Play“发现” <uses-permission> 元素中的要求。
            然后，如果要对特定功能停用过滤，可将 android:required="false" 属性添加到 <uses-feature> 声明中。
            https://developer.android.com/guide/topics/manifest/uses-permission-element
            -->

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <!--    App/Activity就可以进入分屏模式了 -->
    <!--    android:label="${appName}"-->


    <uses-sdk tools:overrideLibrary="com.android.support:multidex:1.0.2" />


</manifest>

