<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.apache.fastandroid"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <permission
        android:name="com.optimize.performance.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.optimize.performance.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>



    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-sdk tools:overrideLibrary="com.android.support:multidex:1.0.2"/>


<!--    App/Activity就可以进入分屏模式了 -->

    <application
        android:name=".app.FastApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:resizeableActivity="false"

        tools:replace="android:theme,android:icon,android:label"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppCommonTheme"
        >

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity android:name=".SplashActivity" >

        </activity>
        <activity android:name=".demo.DemoListActivity" >

        </activity>
<!--        <activity android:name=".demo.DemoListActivity"/>-->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

         </activity>
        <activity android:name="com.tesla.framework.ui.activity.FragmentContainerActivity"/>
        <activity android:name=".demo.temp.ScrollConflictActivity"/>

        <service android:name=".jetpack.lifecycle.service.MyService"/>
    </application>



</manifest>